
(Estructura: [Raíz] -> /backend (Laravel) & /frontend (Angular))

========================================================

1. REGLAS GLOBALES (Aplica a la Raíz)

------------------------------------

.env
.env.backup
.DS_Store
Thumbs.db
*.log
yarn-error.log

IDEs y Entornos de Desarrollo

.idea/
.vscode/
/.vagrant
Homestead.yaml
Homestead.json
.phpunit.result.cache

========================================================

2. REGLAS PARA BACKEND (Laravel 9+)

------------------------------------

Nota: Las rutas inician con /backend/

/backend/vendor/
/backend/node_modules/

Logs, Storage y Cache

/backend/storage/
/backend/bootstrap/cache/
/backend/*.key

Assets y Simlinks (Laravel Mix / Vite)

/backend/public/storage
/backend/public/hot
/backend/public/build
/backend/app/storage/ # Regla para compatibilidad con versiones anteriores

========================================================

3. REGLAS PARA FRONTEND (Angular)

----------------------------------

Nota: Las rutas inician con /frontend/

/frontend/node_modules/

Archivos de Output y Cache

/frontend/dist/
/frontend/out/
/frontend/tmp/
/frontend/.angular/
/frontend/coverage/
/frontend/*.tsbuildinfo

Archivos de E2E compilados

/frontend/e2e/.js
/frontend/e2e/.map

Otros archivos

/frontend/.sass-cache/
/frontend/connect.lock/
/frontend/libpeerconnection.log/
/frontend/npm-debug.log
/frontend/testem.log
/frontend/typings/
/frontend/src/environments/environment.prod.ts